{% extends 'base.html.twig' %}

{% block title %}Hello DetailsController!
{% endblock %}

{% block body %}
	{% if vehicle is defined %}
		<table class="table">
			<thead>
				<th scope="col">id</th>
				<th scope="col">price</th>
				<th scope="col">model</th>
				<th scope="col">mileage</th>
				<th scope="col">year_of_registration</th>
				<th scope="col">equipment</th>
			</thead>
			<tbody>
				<tr>
					<td>{{ vehicle.id }}</td>
					<td>{{ vehicle.price }}</td>
					<td>{{ vehicle.model }}</td>
					<td>{{ vehicle.mileage }}</td>
					<td>{{ vehicle.yearOfRegistration | date("m/d/Y") }}</td>
					<td>{{ vehicle.equipment }}</td>
				</tr>
			</tbody>
		</table>
		{# <a href="{{path('app_details')}}" class="btn btn-primary">Retour a la liste</a> #}
	{% else %}
		<p>Aucun détail de véhicule trouvé.</p>
	{% endif %}
{% endblock %}
